@charset "UTF-8";
.card-body, .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navDesk__item__3, .navDesk__item__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.body-index {
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
.body-index .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.headerClass {
  position: relative;
  margin-top: auto;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-item2 {
  filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  overflow: visible;
}
.carousel-caption h1 {
  font-size: 6rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-weight: normal;
  line-height: 0.8;
}
.carousel-caption p {
  font-size: 2rem;
  font-family: "Permanent Marker";
  font-style: cursive;
}
.carousel-caption h2 {
  font-size: 6rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-weight: normal;
  line-height: 1;
}

/* Estilos segunda foto del carousel */
.artistasBurger {
  filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.nav-link {
  color: rgb(255, 255, 255);
}

.logofoto {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navbar-collapse {
  background-color: rgb(0, 0, 0);
}

/* Nav vista de escritorio */
.navDesktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 99;
  margin-top: 3rem;
}

.navDesk__item__2 {
  width: 114;
  height: 114;
}

.nav-item {
  list-style-type: none;
  font-weight: bold;
}

.nav-link-uno {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
  padding-bottom: 6px; /* Espacio entre el texto y el subrayado */
}

.nav-link-uno:hover {
  border-bottom: 4px solid rgb(255, 255, 255);
}

.button__nav {
  display: none;
}

/* Segundo archivo html (menu.hmtl) */
.navDos {
  background-color: rgb(0, 0, 0);
}
.navDos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.navDos a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.2rem;
}

/* Cards archivo index.html */
.card-img-index {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}

.card-pad {
  padding: 0;
  margin: 0;
}

.card-border {
  border: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 1;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.card button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.custom-btn {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.contenedor-icono i {
  font-size: 3rem;
}

.card-menuhtml {
  height: 90%;
}

.card-img-menuhtml {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.card-padding {
  padding: 0.5rem;
}

.prueba {
  background-color: rgb(223, 211, 211);
}

.prueba-uno {
  background-color: rgb(209, 201, 201);
}

.prueba-dos {
  background-color: rgb(182, 174, 174);
}

.prueba-tres {
  background-color: rgb(158, 151, 151);
}

.prueba-cuatro {
  background-color: rgb(92, 88, 88);
}

.prueba-cinco {
  background-color: rgb(51, 45, 45);
}

.prueba-seis {
  background-color: rgb(0, 0, 0);
}

.card-artistas h2 {
  text-align: center;
  font-size: "Permanent Marker";
  font-family: cursive;
  font-style: normal;
}

.music-card {
  border: 1px solid #0c0b0b; /* Borde de la tarjeta */
  border-radius: 10px; /* Bordes redondeados */
  overflow: hidden; /* Ocultar desbordamiento */
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
}

.music-card-img {
  width: 100%; /* Imagen de ancho completo */
  height: 12rem; /* Altura automática */
  border-bottom: none;
  filter: opacity(90%);
}

.music-card-body {
  padding: 15px; /* Espaciado interno */
  height: 9rem;
}

.music-card-title {
  font-size: 1.25rem; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.music-card-embed-container {
  position: relative;
  padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
  height: 0;
  overflow: hidden;
  background: rgb(0, 0, 0); /* Fondo negro para el reproductor */
  border-radius: 5px; /* Bordes redondeados del reproductor */
  width: auto;
}

.music-card-embed-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 3.5rem;
  }
  .carousel-caption h2 {
    font-size: 3.5rem;
  }
  .carousel-caption p {
    font-size: 1.5rem;
  }
  .contacto-header h1 {
    font-size: 3rem;
  }
  .contacto-header h2 {
    font-size: 1.5rem;
  }
  .contacto-header h3 {
    font-size: 0.9rem;
  }
  .contacto-header p {
    font-size: 0.9rem;
  }
  .respon-card {
    height: 25rem;
  }
}
@media (min-width: 992px) {
  header {
    height: 140vh;
  }
  .carousel-item img {
    transform: translateY(-20%);
    max-height: 200vh;
  }
  .navbar-brand {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051;
  }
}
/* Estilos para pagina contacto.html */
.contacto-header {
  height: auto;
  width: 80%;
  margin: 0 auto;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contacto-header p {
  text-align: left;
  width: 100%;
}

.body-index .header-menu {
  height: 3rem;
}

@media (min-width: 1200px) {
  header {
    height: 100vh;
  }
  .carousel-item img {
    transform: translateY(-30%);
    max-height: 140vh;
  }
}
@media (max-width: 992px) {
  .navDesk__item__3 {
    display: none;
  }
  .navDesk__item__1 {
    display: none;
  }
  .navDesktop {
    margin-top: 2rem;
  }
  .button__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 99;
    top: 5rem;
    left: 3.5rem;
  }
  .spanMobile {
    margin-bottom: 1rem;
  }
  .navbar__mobile {
    width: 30rem;
    min-height: 8rem;
    background-image: url("../images/fondoNav5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    padding: 0.5rem;
    width: 100%;
    overflow: visible;
  }
  .carousel-caption h1 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 0;
  }
  .carousel-caption h2 {
    font-size: 3rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .navbar {
    top: 4rem;
    position: absolute;
  }
  .navbar__mobile {
    width: 20rem;
    min-height: 8rem;
    background-image: url("../images/fondoNav5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
  .text-carousel-hdos {
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 0;
  }
}
.footer-index {
  background-color: #000 !important; /* Fondo negro */
  color: rgb(255, 255, 255); /* Texto blanco */
}

.footer-title-index {
  font-size: 1rem; /* Tamaño de fuente para el título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.footer-info-index {
  font-size: 0.8rem; /* Tamaño de fuente para la información */
  margin-bottom: 20px; /* Espacio debajo de la información */
}

.footer-icons-index a {
  color: rgb(255, 255, 255); /* Color de los íconos */
  font-size: 1rem; /* Tamaño de los íconos */
  text-decoration: none; /* Quitar subrayado */
}

.footer-icons-index a:hover {
  color: rgb(255, 255, 255); /* Color de los íconos al pasar el mouse */
}

.footer-copy-index {
  font-size: 0.8rem; /* Tamaño de fuente para el copyright */
}

#contenido-nuevo {
  display: none; /* Ocultar por defecto (en mobile) */
}

#contenido-nuevo-dos {
  display: none; /* Ocultar por defecto (en mobile) */
}

.franchise {
  background-color: rgb(0, 0, 0);
  padding: 50px 20px;
  text-align: center;
}
.franchise .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.franchise .container i {
  font-size: 3.5rem;
}
.franchise .container h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.franchise .container h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.franchise .container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.franchise .container p strong {
  color: #d9534f;
}
.franchise .container ul {
  list-style-type: disc;
  margin: 20px auto;
  padding: 0;
  max-width: 600px;
  text-align: left;
}
.franchise .container ul li {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 10px 0;
}
.franchise .container a {
  color: #d9534f;
  text-decoration: none;
  font-weight: bold;
}
.franchise .container a:hover {
  text-decoration: underline;
}

.franchise-tres {
  background-color: rgb(0, 0, 0);
  padding: 40px 20px 60px 20px;
  text-align: center;
}
.franchise-tres .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.franchise-tres .container .video-container video {
  border-radius: 15px; /* Ajusta el radio según tus necesidades */
  border: 2px solid #d9534f; /* Borde de 2px de grosor */
  border-radius: 10px; /* Redondear los bordes del borde */
  filter: opacity(80%);
}
.franchise-tres .container h2 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.franchise-tres .container h3 {
  font-size: 2rem;
  color: rgb(255, 255, 255);
}
.franchise-tres .container h4 {
  font-size: 1.5rem;
  color: #d9534f;
  margin-top: 3rem;
}
.franchise-tres .container p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: rgb(255, 255, 255);
  margin-bottom: 15px;
}
.franchise-tres .container p strong {
  color: #d9534f;
}
.franchise-tres .container ul {
  list-style-type: disc;
  margin: 20px auto;
  padding: 0;
  max-width: 600px;
  text-align: left;
}
.franchise-tres .container ul li {
  font-size: 1.2rem;
  color: rgb(255, 255, 255);
  margin: 10px 0;
}
.franchise-tres .container a {
  color: #d9534f;
  text-decoration: none;
  font-weight: bold;
}
.franchise-tres .container a:hover {
  text-decoration: underline;
}

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  background: rgb(0, 0, 0);
  margin: 20px 0;
}
.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.container-logos {
  background-color: rgb(255, 255, 255);
}

@media (min-width: 768px) {
  .franchise {
    background-color: rgb(0, 0, 0); /* Color negro en formato hexadecimal */
    padding: 100px 20px 50px 20px;
    text-align: center; /* Centra el texto dentro del contenedor */
  }
  .franchise .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .franchise .container h2 {
    font-size: 3rem;
    color: rgb(255, 255, 255);
    margin-bottom: 60px;
  }
  .franchise .container p {
    font-size: 1rem;
    line-height: 1.6;
    color: rgb(255, 255, 255);
    margin-bottom: 15px;
    padding-left: 15rem;
    padding-right: 15rem;
    /* Justifica el texto para eliminar los espacios irregulares */
    text-align: justify;
  }
  .franchise .container p strong {
    color: #d9534f;
  }
  .franchise-dos {
    background-color: rgb(0, 0, 0);
    padding: 40px 0px 60px 0px;
    text-align: center;
    margin: 0px;
    width: 100%;
  }
  .franchise-dos .container {
    width: 100%;
    max-width: 1200px;
    margin: 0px;
    padding: 0 15px;
  }
}
@media (min-width: 768px) {
  .franchise-dos {
    background-color: rgb(0, 0, 0);
    padding: 40px 0px 60px 0px;
    text-align: center;
    margin: 0;
    width: 100%;
  }
  .franchise-dos .container {
    width: 100%;
    max-width: 1200px;
    margin: 0;
    padding: 0 15px;
  }
  .franchise-dos h2 {
    font-size: 2.5rem;
  }
  .franchise-dos .container-logos i {
    color: rgb(226, 176, 37) !important;
    font-size: 5rem;
  }
  .contenedor-tres {
    display: none; /* Ocultar en pantallas mayores a 768px */
  }
  #contenido-nuevo {
    display: block; /* Ocultar por defecto (en mobile) */
  }
  #contenido-nuevo .video-container video {
    border-radius: 15px; /* Ajusta el radio según tus necesidades */
    border: 2px solid #d9534f; /* Borde de 2px de grosor */
    border-radius: 10px; /* Redondear los bordes del borde */
    filter: opacity(80%);
  }
  #contenido-nuevo h3 {
    color: rgb(226, 176, 37); /* Cambia el color del h3 en el nuevo contenido */
    font-size: 3rem; /* Ejemplo de tamaño de fuente */
  }
  #contenido-nuevo h4 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1.5rem;
    font-family: "Permanent Marker";
    font-style: cursive;
  }
  #contenido-nuevo i {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #contenido-nuevo p {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  #contenido-nuevo-dos {
    display: block; /* Ocultar por defecto (en mobile) */
    text-align: center; /* Centrar el contenido */
    padding: 20px; /* Espacio interno */
  }
  #contenido-nuevo-dos h4 {
    color: rgb(255, 255, 255);
    margin-bottom: 15px; /* Espacio debajo del h4 */
    font-size: 3rem;
  }
  #contenido-nuevo-dos p {
    color: rgb(255, 255, 255);
    margin-bottom: 20px; /* Espacio debajo del párrafo */
    font-size: 1.8rem;
  }
  #contenido-nuevo-dos .btn {
    /* Opcional: Personaliza el botón si es necesario */
    margin-top: 10px; /* Espacio arriba del botón */
    font-size: 2rem;
    color: #d9534f;
  }
  .clase-card-index {
    font-size: "Permanent Marker";
    font-family: cursive;
    font-style: normal;
  }
}
.contact-page {
  height: 100vh;
  margin: 0;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

.contacto-header {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.contacto-header h1 {
  font-size: 4rem;
  color: rgba(252, 178, 82, 0.76);
}
.contacto-header h2 {
  font-size: 1.8rem;
  margin-bottom: 3rem;
  color: rgb(255, 255, 255);
}
.contacto-header h3 {
  font-size: 1rem;
}
.contacto-header p {
  font-size: 1rem;
}

/*.body-artistas {
  background-image: url('../../images/fondo-artistas-uno.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  } */
.h-uno-artistas h1 {
  font-size: 2rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-size: 3rem;
}

.histori-body {
  background-image: url("/images/fondo-artistas-uno.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.historia-introduccion h1 {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-size: 3rem;
}
.historia-introduccion p {
  color: rgb(194, 137, 16);
  font-size: 2rem;
  font-family: "Permanent Marker";
  font-style: cursive;
}

.hito h3, .hito p {
  color: rgb(0, 0, 0); /* Cambia a color negro o cualquier color oscuro deseado */
}

@media (min-width: 768px) {
  .clase-historia {
    height: 30rem;
  }
}
@media (min-width: 992px) {
  .clase-historia {
    height: 24rem;
  }
}
.body-menu-dos {
  background-color: rgb(255, 255, 255);
}

.header-menu-dos {
  height: 10rem;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: normal;
  line-height: 0.8;
}
.header-menu-dos h1 {
  font-size: 6rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-size: 5rem;
}

.clase-img-menu {
  width: 20rem;
  height: 18rem;
}

.card-menu-color {
  background-color: rgba(0, 0, 0, 0.9);
}

.card-radius {
  border: none; /* Elimina el borde de la tarjeta */
  box-shadow: none; /* Elimina la sombra de la tarjeta */
  outline: none; /* Elimina el contorno de la tarjeta */
  border-radius: 50px; /* Ajusta el valor según el radio que desees */
}

.card-radius img {
  border-radius: 50px; /* Ajusta según el radio que desees */
}

@media (max-width: 576px) {
  .header-menu-dos h1 {
    font-size: 3rem;
    font-family: "Permanent Marker";
    font-style: cursive;
    margin-top: 2rem !important;
  }
  .clase-menudos-gap {
    margin-bottom: 1rem;
  }
  .card-radius img {
    border-radius: 10px; /* Ajusta según el radio que desees */
  }
  .card-negra {
    height: 14rem;
    width: 10rem;
  }
  .card-negra .card-body button {
    height: 2rem;
    font-size: 0.8rem !important;
  }
  .card-negra img {
    height: 14rem;
    width: 14rem;
  }
}
@media (min-width: 576px) {
  .header-menu-dos {
    height: 10rem;
  }
  .header-menu-dos h1 {
    font-size: 3rem;
    font-family: "Permanent Marker";
    font-style: cursive;
    margin-top: 2rem !important;
  }
}
@media (min-width: 768px) {
  .header-menu-dos {
    height: 13rem;
  }
  .header-menu-dos h1 {
    font-size: 3rem;
    font-family: "Permanent Marker";
    font-style: cursive;
    margin-top: 2rem !important;
    font-size: 4rem;
  }
}
@media (min-width: 992px) {
  .header-menu-dos {
    height: 10rem;
  }
  .header-menu-dos h1 {
    font-size: 3rem;
    font-family: "Permanent Marker";
    font-style: cursive;
    margin-top: 2rem !important;
    font-size: 4rem;
  }
}/*# sourceMappingURL=style.css.map */