.card-body, .card-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navDesk__item__3, .navDesk__item__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

body {
  background-image: url(../images/fondoPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.headerClass {
  position: relative;
  margin-top: auto;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-item2 {
  filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  overflow: visible;
}
.carousel-caption h5 {
  font-size: 6rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-weight: normal;
  line-height: 0.8;
}
.carousel-caption p {
  font-size: 2rem;
  font-family: "Permanent Marker";
  font-style: cursive;
}
.carousel-caption h6 {
  font-size: 6rem;
  font-family: "Permanent Marker";
  font-style: cursive;
  font-weight: normal;
  line-height: 1;
}

/* Estilos segunda foto del carousel */
.artistasBurger {
  filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  color: rgb(255, 255, 255);
}

.logofoto {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Ajusta el espaciado entre los enlaces */
.navbar-collapse {
  transition: background-color 0.3s ease;
}

.navbar-toggler:focus + .navbar-collapse {
  background-color: rgba(128, 128, 128, 0.9);
}

.navbar-collapse {
  background-color: rgb(0, 0, 0);
}

/* Nav vista de escritorio */
.navDesktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 99;
  margin-top: 3rem;
}

.navDesk__item__2 {
  width: 114;
  height: 114;
}

.nav-item {
  list-style-type: none;
}

.button__nav {
  display: none;
}

/* Segundo archivo html (menu.hmtl) */
.navDos {
  background-color: rgb(0, 0, 0);
}
.navDos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.navDos a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 1.2rem;
}

/* Cards archivo index.html */
.card-img-index {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.6);
}

.card-pad {
  padding: 0;
  margin: 0;
}

.card-border {
  border: none;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  padding: 10px;
  z-index: 1;
}

.card-title {
  margin-bottom: 10px;
  font-size: 1.25rem;
}

.card button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.custom-btn {
  background-color: transparent;
  border: 2px solid rgb(255, 255, 255);
  color: rgb(255, 255, 255);
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-btn:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.contenedor-icono i {
  font-size: 3rem;
}

.card-menuhtml {
  height: 100%;
}

.card-img-menuhtml {
  width: 100%;
  height: 60%;
  object-fit: cover;
  object-position: center;
}

.card-padding {
  padding: 0.5rem;
}

.prueba {
  background-color: rgb(223, 211, 211);
}

.prueba-uno {
  background-color: rgb(209, 201, 201);
}

.prueba-dos {
  background-color: rgb(182, 174, 174);
}

.prueba-tres {
  background-color: rgb(158, 151, 151);
}

.prueba-cuatro {
  background-color: rgb(92, 88, 88);
}

.prueba-cinco {
  background-color: rgb(51, 45, 45);
}

.prueba-seis {
  background-color: rgb(0, 0, 0);
}

@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 4rem;
  }
  .carousel-caption h6 {
    font-size: 4rem;
  }
  .carousel-caption p {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  header {
    height: 140vh;
  }
  .carousel-item img {
    transform: translateY(-20%);
    max-height: 200vh;
  }
  .navbar-brand {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051;
  }
}
@media (min-width: 1200px) {
  header {
    height: 100vh;
  }
  .carousel-item img {
    transform: translateY(-30%);
    max-height: 140vh;
  }
}
@media (max-width: 992px) {
  .navDesk__item__3 {
    display: none;
  }
  .navDesk__item__1 {
    display: none;
  }
  .navDesktop {
    margin-top: 2rem;
  }
  .button__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 99;
    top: 5rem;
    left: 3.5rem;
  }
  .spanMobile {
    margin-bottom: 1rem;
  }
  .navbar__mobile {
    width: 30rem;
    min-height: 8rem;
    background-image: url("../images/fondoNav5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
}
@media (max-width: 576px) {
  .carousel-caption {
    padding: 0.5rem;
    width: 100%;
    overflow: visible;
  }
  .carousel-caption h5 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 0;
  }
  .carousel-caption h6 {
    font-size: 3rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .navbar {
    top: 4rem;
    position: absolute;
  }
  .navbar__mobile {
    width: 20rem;
    min-height: 8rem;
    background-image: url("../images/fondoNav5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
}/*# sourceMappingURL=style.css.map */