/* Cards archivo index.html */
.card-img-index {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.6);
  }
  
  .card-pad {
    padding: 0;
    margin: 0;
  }
  
  .card-border {
    border: none;
  }
  
  .card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %flex-cards;
    color: $color-white;
    padding: 10px;
    z-index: 1;
  }
  
  .card-title {
    margin-bottom: 10px;
    font-size: 1.25rem;
  }
  
  .card button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .custom-btn {
    background-color: transparent;
    border: 2px solid $color-white;
    color: $color-white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .custom-btn:hover {
    background-color: $color-white;
    color: $color-black;
  }
  
  .contenedor-icono i {
    font-size: 3rem;
  }


  // Cards archivo Menu.html
  .card-menuhtml {
    height: 90%;
  }
  .card-img-menuhtml {
    width: 100%;
    height: 60%;
    object-fit: cover;
    object-position: center;
  }
  
  .card-padding {
    padding: 0.5rem;
  }
  .card-body {
 @extend %flex-cards;
  }

  //lista de colores gradientes para las cards
  .prueba{
    background-color: nth($cards-background-colors, 7);
  }
  .prueba-uno{
    background-color: nth($cards-background-colors, 6);
  }
  .prueba-dos{
    background-color: nth($cards-background-colors, 5);
  }
  .prueba-tres{
    background-color: nth($cards-background-colors, 4);
  }
  .prueba-cuatro{
    background-color: nth($cards-background-colors, 3);
  }
  .prueba-cinco{
    background-color: nth($cards-background-colors, 2);
  }
  .prueba-seis{
    background-color: nth($cards-background-colors, 1);
  }



.card-artistas{
  h5{
    text-align: center;
    @include font-family-and-size( "Permanent Marker", cursive);
  }
}

  .music-card {
    border: 1px solid #0c0b0b; /* Borde de la tarjeta */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Ocultar desbordamiento */
    background: $color-black;
    color: $color-white; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra de la tarjeta */
  }
  
  .music-card-img {
    width: 100%; /* Imagen de ancho completo */
    height: 12rem; /* Altura automática */
    border-bottom: none;
    filter: opacity(90%);
  }
  
  .music-card-body {
    padding: 15px; /* Espaciado interno */
    height: 9rem;
  }
  
  .music-card-title {
    font-size: 1.25rem; /* Tamaño del título */
    margin-bottom: 10px; /* Espacio debajo del título */
  }
  
  .music-card-embed-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    background: $color-black; /* Fondo negro para el reproductor */
    border-radius: 5px; /* Bordes redondeados del reproductor */
    width: auto;
  }
  
  .music-card-embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
  }