.footer-index {
    background-color: $color-black !important; /* Fondo negro */
    color: $color-white; /* Texto blanco */
  }
  
  .footer-title-index {
    font-size: 1rem; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espacio debajo del título */
  }
  
  .footer-info-index {
    font-size: 0.8rem; /* Tamaño de fuente para la información */
    margin-bottom: 20px; /* Espacio debajo de la información */
  }
  
  .footer-icons-index a {
    color: $color-white; /* Color de los íconos */
    font-size: 1rem; /* Tamaño de los íconos */
    text-decoration: none; /* Quitar subrayado */
  }
  
  .footer-icons-index a:hover {
    color: $color-white; /* Color de los íconos al pasar el mouse */
  }
  
  .footer-copy-index {
    font-size: 0.8rem; /* Tamaño de fuente para el copyright */
  }