
// Estilos para el boton hamburguesa
.navbar-toggler {
    border-color: $color-white;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  
  //color blanco para todos los a
  .nav-link {
    color: $color-white;
  }
  
  //estilos para el logo principal
  .logofoto {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    object-fit: cover;
  }
  
  //continuan los estilos para el boton hamburguesa
  .navbar-nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  //continuan los estilos para el boton hamburguesa
  .navbar-collapse {
    background-color: $color-black;
  }
  
  
  /* Nav vista de escritorio */
  .navDesktop {
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
    position: absolute;
    z-index: 99;
    margin-top: 3rem;
    
  }
  .navDesk__item__1 {
   @extend %flex-space-around;
  }
  
  .navDesk__item__2 {
    width: 114;
    height: 114;
  }
  
  .navDesk__item__3 {
  @extend %flex-space-around;
  }
  
  .nav-item {
    list-style-type: none;
    font-weight: bold;
  }

  .nav-link-uno {
    color: $color-white;
    text-decoration: none;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    padding-bottom: 6px; /* Espacio entre el texto y el subrayado */
  }
  
  .nav-link-uno:hover {
    border-bottom: 4px solid #ffffff; 
  }
  
  .button__nav {
    display: none;
  }

  /* Segundo archivo html (menu.hmtl) */
  .navDos {
    background-color: $color-black;
    
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
    }
    
    a {
      text-decoration: none;
      color: $color-white;
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  
