.headerClass {
    position: relative;
    margin-top: auto;
  }
  
  .carousel-item img {
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-item2 {
    filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
  }
  
  .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: $carousel-caption-padding;
    border-radius: 10px;
    width: $carousel-caption-width;
    z-index: 10;
    overflow: visible;
  
  h1 {
    @include font-family-and-size(6rem, "Permanent Marker", cursive);
    font-weight: normal;
    line-height: 0.8;
  
  }
  
  p {
   @include font-family-and-size(2rem, "Permanent Marker", cursive);
  
  }
  
  h2 {
    @include font-family-and-size(6rem, "Permanent Marker", cursive);
    font-weight: normal;
    line-height: 1;
 
  }
}

     /* Estilos segunda foto del carousel */
     .artistasBurger {
      filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
    }