body {
  background-image: url(./images/fondoPage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  .permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
  }
}

.navbar {
  background-color: rgba(0, 0, 0, 0) !important;
  z-index: 1050;
  position: absolute;
  top: 5.8rem;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.5rem 1rem;
  border: none;
  box-shadow: none;
}

.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-brand {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nav-link {
  color: rgb(255, 255, 255);
}

.logofoto {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  object-fit: cover;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Ajusta el espaciado entre los enlaces */
.navbar-collapse {
  transition: background-color 0.3s ease;
}

.navbar-toggler:focus + .navbar-collapse {
  background-color: rgba(128, 128, 128, 0.9);
}

.navbar-collapse {
  background-color: rgba(0, 0, 0, 0);
}

.headerClass {
  position: relative;
  height: 780px;
  /* overflow: hidden; */
  margin-top: auto;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-item2 {
  filter: brightness(0.6); /* Ajusta el brillo para oscurecer la imagen */
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  z-index: 10;
  overflow: visible;
}

.carousel-caption h5,
.carousel-caption h6,
.carousel-caption p {
  line-height: 1.2; /* Ajusta para evitar cortes */
  padding: 0;
}

.carousel-caption h5 {
  font-size: 6rem;
  font-weight: normal;
  line-height: 0.8;
  font-family: "Permanent Marker", cursive;
}

.carousel-caption p {
  font-size: 2rem;
  font-family: "Permanent Marker", cursive;
}

.carousel-caption h6 {
  font-size: 6rem;
  font-weight: normal;
  line-height: 1;
  font-family: "Permanent Marker", cursive;
}

/* Media query para pantallas medianas (tablet) */
@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 4rem;
  }

  .carousel-caption h6 {
    font-size: 4rem;
  }

  .carousel-caption p {
    font-size: 1.5rem;
  }
}

/* Media query para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
  .carousel-caption {
    padding: 0.5rem;
    width: 100%;
    overflow: visible; /* Permite que el contenido se muestre completo */
  }
  .carousel-caption h5 {
    font-size: 3rem;
    margin-top: 3rem;
    margin-left: 0;
  }
  .carousel-caption h6 {
    font-size: 3rem;
  }
  .carousel-caption p {
    font-size: 1rem;
  }
  .navbar {
    top: 4rem;
    position: absolute;
  }
}

@media (min-width: 992px) {
  header {
    height: 140vh;
  }
  .carousel-item img {
    transform: translateY(-20%);
    max-height: 140vh;
  }
  .navbar-brand {
    position: absolute;
    top: 11%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1051;
  }
}

@media (min-width: 1200px) {
  header {
    height: 140vh;
  }
  .carousel-item img {
    transform: translateY(-30%);
    max-height: 140vh;
  }
}

.container-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

/* Nav vista de escritorio */

.navDesktop {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  position: absolute;
  z-index: 99;
  margin-top: 3rem;
}

.navDesk__item__1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.navDesk__item__2 {
  width: 114;
  height: 114;
}

.navDesk__item__3 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  width: 100%;
}

.nav-item {
  list-style-type: none;
}

.button__nav {
  display: none;
}

@media (max-width: 992px) {
  .navDesk__item__3 {
    display: none;
  }
  .navDesk__item__1 {
    display: none;
  }
  .navDesktop {
    margin-top: 2rem;
  }
  .button__nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    z-index: 99;
    top: 5rem;
    left: 3.5rem;
  }
  .spanMobile {
    margin-bottom: 1rem;
  }
  .navbar__mobile {
    width: 22rem;
    min-height: 8rem;
    background-image: url("./images/fondoNav5.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding-top: 1rem;
  }
}

/* Pagina menu.hmtl */

.navDos {
  background-color: rgb(0, 0, 0); /* Color de fondo para el contenedor */
}

.navDos ul {
  list-style-type: none; /* Elimina los puntos de la lista */
  padding: 0; /* Elimina el padding por defecto */
  margin: 0; /* Elimina el margen por defecto */
  display: flex; /* Aplica Flexbox al <ul> */
  flex-wrap: wrap;
  justify-content: center; /* Centra los elementos horizontalmente */
  gap: 10px; /* Añade espacio entre los elementos */
}

.navDos a {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: rgb(255, 255, 255); /* Cambia el color del texto de los enlaces */
  padding: 10px; /* Añade padding alrededor del texto */
  font-size: 1.2rem;
}

.card {
  height: 100%; /* Ajusta la altura al 100% del contenedor */
  background-color: black;
}
.card-img-top {
  width: 100%;
  height: 60%;
  object-fit: cover; /* La imagen se ajusta para cubrir el contenedor sin deformarse */
  object-position: center; /* Centra la imagen dentro del contenedor */
}

.card-padding {
  padding: 0.5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(255, 255, 255); /* Si quieres que el texto sea blanco */
}
