@mixin font-family-and-size ($tamano, $fuente, $estilo: normal){
    font-size: $tamano;
    font-family: $fuente;
    font-style: $estilo;
}

//mixin para los bordes de las cards
@mixin border-and-border-radius ($tamano, $borde){
    border-radius: $tamano;
    border:$borde;
}