 /* Media query para pantallas medianas (tablet) */
 @media (max-width: 768px) {
    .carousel-caption h5 {
      font-size: 4rem;
    }
  
    .carousel-caption h6 {
      font-size: 4rem;
    }
  
    .carousel-caption p {
      font-size: 1.5rem;
    }
  }
  
  /* Media query para pantallas pequeñas (móviles) */
  @media (max-width: 576px) {
    .carousel-caption {
      padding: 0.5rem;
      width: 100%;
      overflow: visible; /* Permite que el contenido se muestre completo */
    }
    .carousel-caption h5 {
      font-size: 3rem;
      margin-top: 3rem;
      margin-left: 0;
    }
    .carousel-caption h6 {
      font-size: 3rem;
    }
    .carousel-caption p {
      font-size: 1rem;
    }
    .navbar {
      top: 4rem;
      position: absolute;
    }
  }
  
  @media (min-width: 992px) {
    header {
      height: 140vh;
    }
    .carousel-item img {
      transform: translateY(-20%);
      max-height: 200vh;
    }
    .navbar-brand {
      position: absolute;
      top: 11%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1051;
    }
  }
  
  @media (min-width: 1200px) {
    header {
      height: 100vh;
    }
    .carousel-item img {
      transform: translateY(-30%);
      max-height: 140vh;
    }
  }
  @media (max-width: 992px) {
    .navDesk__item__3 {
      display: none;
    }
    .navDesk__item__1 {
      display: none;
    }
    .navDesktop {
      margin-top: 2rem;
    }
    .button__nav {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: start;
      z-index: 99;
      top: 5rem;
      left: 3.5rem;
    }
    .spanMobile {
      margin-bottom: 1rem;
    }
    .navbar__mobile {
      width: 22rem;
      min-height: 8rem;
      background-image: url("../images/fondoNav5.jpg");
      background-size: 100% 100%;
      background-repeat: no-repeat;
      padding-top: 1rem;
    }
  }