
//Colores
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-gray-dark: rgba(0, 0, 0, 0.9);
$color-gray-light: rgba(255, 255, 255, 0.1);

//Fuentes
$font-family-primary: "Permanent Marker", cursive;
$font-weight-normal: 400;
$font-style-normal: normal;

// Tamaños
$navbar-height: 5.8rem;
$navbar-padding: 0.5rem 1rem;
$carousel-caption-padding: 1rem;
$carousel-caption-width: 100%;