//Estilos para el fondo de la página NO FUNCIONA DESDE GITHUB
/*.body-artistas {
  background-image: url('../../images/fondo-artistas-uno.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  } */
  //Estilos para el header
  .h-uno-artistas{
    h1{
        @include font-family-and-size(2rem, "Permanent Marker", cursive);
        font-size: 3rem;
    }
}