.body-index {
    background-color: $color-black;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    .permanent-marker-regular {
      font-family: $font-family-primary;
      font-weight: $font-weight-normal;
      font-style: $font-style-normal;
    }
  }
  
  